<div class="grid-container">
  <mat-accordion hideToggle>
    <mat-expansion-panel *ngFor="let org of organizationList$ | async">
      <mat-expansion-panel-header>
        <mat-panel-title> {{ org.organization.name }} </mat-panel-title>
        <mat-panel-description *ngIf="org.myRole !== 'Owner'">
          Joined {{ org.joinedAt | date }}
        </mat-panel-description>
      </mat-expansion-panel-header>
      <ng-template matExpansionPanelContent>
        <desktop-organization-details
          [organizationId]="org.organization.id"
        ></desktop-organization-details>
      </ng-template>
    </mat-expansion-panel>

    <mat-expansion-panel *ngIf="(ownsAnOrganization$ | async) === false">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <span class="w-full text-center">Create your own organization</span>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <ng-template matExpansionPanelContent>
        <div class="mt-4">
          <desktop-create-organization> </desktop-create-organization>
        </div>
      </ng-template>
    </mat-expansion-panel>
  </mat-accordion>
</div>
