.grid-container {
  margin: 20px;
}

.mat-expansion-panel-header.mat-expanded,
.mat-expansion-panel-header.mat-expanded:hover,
.mat-expansion-panel-header.mat-expanded:focus,
.mat-expansion-panel-header.mat-expanded:active {
  background: #3f51b5;
}
.mat-expansion-panel-header.mat-expanded .mat-expansion-panel-header-title {
  color: white;
}
.mat-expansion-panel-header.mat-expanded .mat-expansion-panel-header-description {
  color: #ccc;
}
