<ng-container *ngIf="organization$ | async; let organization; else: loadingdetails">
  <desktop-od-top-bar class="mb-4"></desktop-od-top-bar>

  <mat-tab-group>
    <mat-tab label="Members">
      <ng-template matTabContent>
        <desktop-od-members></desktop-od-members>
      </ng-template>
    </mat-tab>
    <mat-tab label="Sessions" *ngIf="(myRole$ | async) !== 'Member'">
      <ng-template matTabContent>
        <desktop-od-sessions></desktop-od-sessions>
      </ng-template>
    </mat-tab>
  </mat-tab-group>
</ng-container>

<ng-template #loadingdetails>Loading organization details...</ng-template>
