<form [formGroup]="loginForm" novalidate (ngSubmit)="onSubmit()">
  <mat-card class="shipping-card">
    <mat-card-header class="mb-4">
      <mat-card-title>Register</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput type="email" placeholder="Email" formControlName="email" />
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="First name" formControlName="firstName" />
            <mat-error *ngIf="loginForm.controls['firstName'].hasError('required')">
              First name is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="Last name" formControlName="lastName" />
            <mat-error *ngIf="loginForm.controls['lastName'].hasError('required')">
              Last name is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput type="password" placeholder="Password" formControlName="password" />
          </mat-form-field>
        </div>
      </div>
    </mat-card-content>
    <mat-card-actions [align]="'end'">
      <button mat-raised-button color="primary" class="w-full mx-4 mb-4" type="submit">
        REGISTER
      </button>
    </mat-card-actions>
  </mat-card>
</form>
